Thumbs.db
.DS_Store
.Rproj.user
.Rhistory
.RData
.hg
.Trash*
mailbox*
core
bh.*.log

*DS_Store
*.doc
*.DOC
*.xls
*.XLS
#.ppt
*.PPT
*.sas7bdat
*.SAS7BDAT
*.sas7bcat
*.SAS7BCAT
*.bak
*.BAK
*.xpt
*.XPT
*.docx
*.DOCX
*.xlsx
*.XLSX
*.pptx
*.PPTX
*.rtf
*.RTF
*.cgm
*.CGM 
*.pdf
*.PDF
*.asv
*.ASV
*.ssd01
*.SSD01
tp.*
tp.*
tp.*
*.exe
*.EXE
*.zip
*.ZIP
*#*
*.msi
Mailbox
*email
*.ps
*.PS
*.sd2
*.SD2
.P*
.p*
.Mailbox*
.*_SIMS_*
.*metafile.xml
.*dt*

